body{
    font-family: Arial, sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 50px;
    color: #111;
}
header{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
h1{
    font-size:32px;
    font-weight:700;
}
.subtitle{
    margin-top:5px;
    opacity:0.7;
}
.btn-admin{
    background:#5046e5;
    color:white;
    border:none;
    padding:10px 22px;
    font-size:15px;
    border-radius:6px;
    cursor:pointer;
}
.list{
    margin-top:40px;
    list-style:none;
    padding:0;
}
.list li{
    font-size:18px;
    margin-bottom:12px;
    padding:10px 14px;
    background:#fff;
    border-radius:6px;
    width:320px;
    border:1px solid #e5e5e5;
}
.admin-box{
    display:none;
    margin-top:30px;
}
input{
    padding:10px;
    width:200px;
    border:1px solid #ccc;
}
.add-btn{
    background:#111;
    color:white;
    padding:10px 20px;
    border:none;
    cursor:pointer;
}